

.panel-root {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.left {
    flex-basis: 20%;
    background-color: var(--main);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0;
    padding-left: 30px;
    justify-content: space-evenly;
}

.right {
    background-color: var(--second);
    flex-basis: 75%;
    gap: 35px;
}

.title {
    padding: 30px;
}

.picture{
    aspect-ratio: 1/1;
    width: 300px;
    border-radius: 100%;
    object-fit: cover;

}