

.panel-root {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.left {
    flex-basis: 25%;
    background-color: var(--main);
}


.right {
    background-color: var(--second);
    flex-basis: 75%;
    gap: 35px;
}

.title {
    padding: 30px;
}