body {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}


.separator-x{
    background: #2C3E50;
    align-self: stretch;
    height: 3px;
}